{% extends "site_app/global/base.html" %}

{% block content %}
<div class="container-fluid mt-3">
    <form action="{% url 'atualizar' usuario.id %}" method="post">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" name="nome" value="{{ usuario.nome }}" placeholder="Nome completo" />
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{ usuario.email }}" placeholder="example@example.com" />
        <button type="submit">Salvar</button>
    </form>
</div>
{% endblock content %}
